<div class="row favorites">
  <h2>Your \{{favoriteMovies.length}} Favorite Movies</h2>
</div>
<div class="row dropdown">
  Sort by:
  <select ng-model="posterOrder">
    <option value="myJsonProperty.Title">Movie Title</option>
    <option value="myJsonProperty.Year">Year</option>
    <option value="myJsonProperty.imdbRating">IMDB Rating</option>
  </select>
</div>

  <ul class="favoriteMovies row">
    <li ng-repeat="faveMovie in favoriteMovies | orderBy:posterOrder" class="movie-poster">
      <div class="row">
        <button class="delete" ng-click="remove(faveMovie)">&times;</button>
        <img ng-src="\{{faveMovie.myJsonProperty.Poster}}">
      </div>
    </li>
  </ul>

</div>
