<div id="form">
  <h2>Please enter a movie title</h2>
  <div id="form-info">
    <!-- <input id="userInput" type="text" placeholder="e.g., 20011" ng-model="query">
    <input id="submit" type="submit"> -->
    <form method="post" action="/">
      <input type="text" name="keyword" id="userInput" placeholder="e.g., The Matrix" ng-model="query">
      <input id="submit" type="submit">
    </form>
    <button ng-click="showFavorites()">My Favorite Reviews</button>
  </div>
</div>
