<main class="row">
  <div class="movie-search">
    <h2>Search For Movie</h2>
    <div class="form-info">
      <form method="post" action="/details">
        <input type="text" name="title" id="userInput" placeholder="E.g., The Matrix" ng-model="titleQuery">
        <input id="submit" type="submit">
      </form>
    </div>
  </div>
</main>
