<!-- <nav class="row">
  <div class="column column-6">
    Search Movie Show Times
  </div>
  <div class="column column-6">
    Search NY Times Movie Reviews
  </div>
</nav> -->

<div class="row search-forms">

  <div class="form column column-6">
    <h2>Search NY Times Movie Reviews</h2>
    <div class="form-info">
      <form method="post" action="/reviews">
        <input type="text" name="movie" id="userInput" placeholder="E.g., The Matrix" ng-model="movieQuery">
        <input id="submit" type="submit">
      </form>
      <button ng-click="showFavorites()">My Favorite Reviews</button>
    </div>
  </div>

  <div class="form column column-6">
    <h2>Search Movie Showtimes</h2>
    <div class="form-info">
      <form method="post" action="/showtimes">
        <input type="text" name="zipcode" id="userInput" placeholder="E.g., 20011" ng-model="zipQuery">
        <input id="submit" type="submit">
      </form>
    </div>
  </div>

  <div class="form column column-6">
    <h2>Search For Movie Info</h2>
    <div class="form-info">
      <form method="post" action="/details">
        <input type="text" name="title" id="userInput" placeholder="E.g., The Matrix Reloaded" ng-model="titleQuery">
        <input id="submit" type="submit">
      </form>
    </div>
  </div>

</div>
