<div id="form">
  <p>Please enter your zipcode<p>
  <div id="form-info">
    <!-- <input id="userInput" type="text" placeholder="e.g., 20011" ng-model="query">
    <input id="submit" type="submit"> -->
    <form method="post" action="/">
      <input type="text" name="zipcode" id="userInput" placeholder="e.g., 20011">
      <input id="submit" type="submit">
    </form>
  </div>
</div>




<div id ="results">
  <ul>
    <li ng-repeat="movie in movies track by $index">
      Movie: \{{movie.title}}
    </li>
  </ul>
  There are \{{movies.length}} movies on this list.

</div>
