/************************************ Page-Wide ************************************/

html, body, header, h1, h2, p {
  margin:0;
  padding:0;
}

body {
  background:#909ECC;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
  color:inherit;
}
/************************************ Header ************************************/

header {
  position:relative;
  margin-bottom:10px;
}

#background{
  text-align: center;
  background: url("../images/movie_seats.jpg") no-repeat;
  background-size: cover;
  background-position:center 75%;
  width:100%;
  height:275px;
}

#background h1{
  font-family: 'Cinzel', serif;
  font-weight:700;
  font-size:8em;
  color:white;
  text-shadow: 5px 5px 5px #909ECC, 10px 10px 5px #2F0128;
  margin:0;
  padding:0;
}

#background h2 {
  font-family: 'Open Sans', sans-serif;
  font-style:italic;
  font-size:2em;
  color:white;
}

#nav {
  width:100%;
  background:#5F71AB;
  padding:0;
  margin:0;
  text-align:center;
  position:absolute;
  bottom:0%;
}

#nav ul {
  margin:0 auto;
  text-align:center;
  width: 50%;
}

#nav li {
  font-family: 'Cinzel', serif;
  font-weight:700;
  display:inline-block;
  padding: 10px;
  text-align:center;
}

#nav li:hover{
  background:maroon;
}


/************************************ Home Page ************************************/

main .movie-search{
  width:30%;
}
.movie-search{
  border: 2px solid #405493;
  border-radius:10px;
  margin: 20px auto;
  font-size:2em;
  text-align:center;
  padding: 20px;
  background: #5F71AB;
  color:white;
}

.movie-search h2{
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding:0;
  font-size:.9em;
  text-shadow: 1px 1px 1px black;
}

.form-info {
  margin: 0 auto;
  text-align:center;
}

/************************************ Details Page ************************************/

.movie-details {
    margin:50px 0;
}

.movie-details *{
  /*border: 1px solid black;*/
}

.movie-details .movie-search{
  width: 60%;
}

.poster{
  text-align:center;
}

.poster button{
  margin-bottom:5px;
}

.details li{
  margin: 5px;
  font-size: 1.2em;
  background-color: #FF9900;
  color: #405393;
  float:left;
  border: 1px solid #162966;
  padding:10px;
}

/************************************ Favorites Page ************************************/

.favoriteMovies *{
  /*border:1px red solid;*/
}

.favorites h2{
  color: maroon;
  font-family: 'Open Sans', sans-serif;
  font-size:2em;
  text-align:center;
}


.favoriteMovies li{
  display: inline-block;
  margin: 0 10px
}


.dropdown {
  text-align:center;
  margin: 10px 0;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
  top:28px;
  border-radius: 5px;
  border:solid red 3px;
  color:red;
  cursor: pointer;
}

/************************************ Misc ************************************/
